<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headResources}"></div>
    <title>La Mia Pizzeria - Crea un Nuovo Ingrediente</title>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <main class="container">
      <div>
        <div th:if="${edit}">
          <h1 class="my-4">Modifica Ingrediente</h1>
        </div>
        <div th:unless="${edit}">
          <h1 class="my-4">Crea Nuovo Ingrediente</h1>
        </div>
      </div>
      <section class="row">
        <div class="col-12">
          <form
            id="ingredient-form"
            th:action="${edit} ? @{/ingredients/edit/{id}(id=${ingredient.id})} : @{/ingredients/create}"
            th:object="${ingredient}"
            method="post"
          >
            <div class="mb-3">
              <label for="name" class="form-label">Nome Ingredienti:</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                th:field="*{name}"
                th:errorClass="is-invalid"
              />
            </div>

            <div class="mb-3 d-flex justify-content-between">
              <input type="submit" value="Salva" class="btn btn-primary me-2" />
              <input type="reset" value="Annulla" class="btn btn-secondary" />
            </div>
          </form>
        </div>
      </section>
    </main>
    <div th:replace="~{fragments/resources :: scriptsResources}"></div>
  </body>
</html>
