<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headResources}"></div>
    <title>La Mia Pizzeria - Crea Pizza</title>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <main class="container">
      <div th:if="${edit}">
        <h1 class="my-4">Modifica Pizza</h1>
      </div>
      <div th:unless="${edit}">
        <h1 class="my-4">Crea una Nuova Pizza</h1>
      </div>
      <section class="row">
        <div class="col-12">
          <form
            id="pizza-form"
            th:action="${edit} ? @{/pizzas/edit/{id}(id=${pizza.id})} : @{/pizzas/create}"
            th:object="${pizza}"
            method="post"
          >
            <div class="mb-3">
              <label for="name" class="form-label">Nome:</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                th:field="*{name}"
                th:errorClass="is-invalid"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('name')}"
              >
                <ul>
                  <li
                    th:each="error : ${#fields.errors('name')}"
                    th:text="${error}"
                  ></li>
                </ul>
              </div>
            </div>
            <div class="mb-3">
              <div
                class="single-category form-check"
                th:each="ingredient : ${ingredients}"
              >
                <input
                  type="checkbox"
                  id="ingredient-[[${ingredient.id}]]"
                  th:value="${ingredient.id}"
                  class="form-check-input"
                  th:field="${pizza.ingredients}"
                />
                <label
                  for="ingredient-[[${ingredient.id}]]"
                  class="form-check-label"
                  th:text="${ingredient.name}"
                ></label>
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descrizione:</label>
              <textarea
                id="description"
                name="description"
                class="form-control"
                rows="3"
                th:field="*{description}"
                th:errorClass="is-invalid"
              ></textarea>
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('description')}"
              >
                <ul>
                  <li
                    th:each="error : ${#fields.errors('description')}"
                    th:text="${error}"
                  ></li>
                </ul>
              </div>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Prezzo:</label>
              <input
                type="number"
                id="price"
                name="price"
                class="form-control"
                min="0.00"
                step="0.01"
                th:field="*{price}"
                th:errorClass="is-invalid"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('price')}"
              >
                <ul>
                  <li
                    th:each="error : ${#fields.errors('price')}"
                    th:text="${error}"
                  ></li>
                </ul>
              </div>
            </div>
            <div class="mb-3">
              <label for="url" class="form-label">Immagine URL:</label>
              <input
                type="text"
                id="url"
                name="url"
                class="form-control"
                th:field="*{url}"
                th:errorClass="is-invalid"
              />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                <ul>
                  <li
                    th:each="error : ${#fields.errors('url')}"
                    th:text="${error}"
                  ></li>
                </ul>
              </div>
            </div>
            <div class="mb-3 d-flex justify-content-between">
              <input type="submit" value="Salva" class="btn btn-primary me-2" />
              <input type="reset" value="Annulla" class="btn btn-secondary" />
            </div>
          </form>
        </div>
      </section>
    </main>
    <div th:replace="~{fragments/resources :: scriptsResources}"></div>
  </body>
</html>
