<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headResources}"></div>
    <title>La Mia Pizzeria - Lista Pizze</title>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <main class="container">
      <div>
        <form
          th:action="@{/pizzas/search}"
          method="get"
          class="d-flex align-items-center my-4"
        >
          <input
            type="text"
            name="query"
            class="form-control w-25 me-2"
            placeholder="Cerca per nome o ingredienti"
          />
          <button type="submit" class="btn btn-primary">Cerca</button>
        </form>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="my-4">Lista Pizze</h1>
        <button
          th:onclick="'location.href=\'/pizzas/create\''"
          class="btn btn-success"
        >
          Crea una nuova Pizza
        </button>
      </div>
      <section class="row">
        <div class="col-12">
          <table th:if="${pizzas.size() > 0}" class="table">
            <thead>
              <tr class="text-uppercase table-primary">
                <th>ID</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="pizza : ${pizzas}"
                th:object="${pizza}"
                class="align-middle"
              >
                <td th:text="*{id}"></td>
                <td th:text="*{name}" class="text-capitalize"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{price} + ' €'"></td>
                <td>
                  <a
                    th:href="@{/pizzas/{id}(id=${pizza.id})}"
                    class="btn btn-primary btn-sm"
                    >Dettagli</a
                  >
                </td>
                <td>
                  <a
                    th:href="@{/pizzas/edit/{id}(id=${pizza.id})}"
                    class="btn btn-warning btn-sm"
                    >Modifica</a
                  >
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    th:data-bs-target="'#deleteModal' + ${pizza.id}"
                  >
                    Elimina
                  </button>
                  <!-- Modale Bootstrap -->
                  <div
                    class="modal fade"
                    th:id="'deleteModal' + ${pizza.id}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">
                            Conferma Eliminazione
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Sei sicuro di voler eliminare la pizza
                          <strong th:text="${pizza.name}"></strong>?
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Chiudi
                          </button>
                          <form
                            th:action="@{/pizzas/delete/{id}(id=${pizza.id})}"
                            method="post"
                          >
                            <button type="submit" class="btn btn-danger">
                              Elimina
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p th:unless="${pizzas.size() > 0}">Non ci sono pizze disponibili.</p>
        </div>
      </section>
    </main>
    <div th:replace="~{fragments/resources :: scriptsResources}"></div>
  </body>
</html>
